
<section id="contact">

    <div class="sixth">

        <a href="https://www.linkedin.com/in/hansika-priya/"><i class="fab fa-2xl fa-linkedin"></i></a>
        <a href="https://github.com/hansi5"> <i class="fab fa-2xl fa-github"></i></a>
        <span class="fab"><a href="{{ url_for('contact') }}"><i class="fa-2xl fa-sharp fa-solid fa-envelope"></i></a></span>
        <a href="https://www.instagram.com/h.a.n.s.i_05/"><i class="fab fa-2xl fa-brands fa-instagram"></i></a>
        <p class="last">© 2022 Hansika Priya.</p>

    </div>
</section>





<!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>
</html>