{% include "header.html" %}




<section id="intro">

        <div class="container-fluid first image">
            <div class="intro">
                <h2 class="name">Hello there,</h2>
                <h2 class="name">It's nice to meet you.</h2>
<!--                <h2 class="name ">I'm Hansika.</h2>-->
            </div>
        </div>

</section>

<section id="about">
    <div class="second">
        <h3 class="heading">About me</h3>
        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</section>

<hr>

<section id="skills">
    <div class="third">
        <h3 class="heading">My Skills</h3>
        <div class="skill-row">
            <img src="static/images/img.png" class="float-left tally">
            <h4>Tally</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
        </div>
        <div class="skill-row">
            <img class="float-right" src="static/images/sql.png">
            <h4>SQL</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
        </div>
        <div class="skill-row">
            <img class="float-left" src="static/images/python.png">
            <h4>Python</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
        </div>
    </div>
</section>

<hr>

<section id="projects">

    <div class="row-div container">
        <h3 class="heading">Projects</h3>
        <div class="row">
            <div class="col-lg-6 column">
                <h5>Project 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
            </div>
            <div class="col-lg-6 column">
                <h5>Project 2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
            </div>
            <div class="col-lg-6 column">
                <h5>Project 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
            </div>
            <div class="col-lg-6 column">
                <h5>Project 4</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique diam eros, sit amet tristique nulla imperdiet sed. Ut volutpat urna augue, porttitor vulputate felis rutrum ac. </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="interests">
    <div class="row-div container fifth">
        <h3 class="heading">Interests</h3>
        <div class="row">

            <div class="col-lg-4 column">
                <img src="static/images/comic.png" class="icon">
                <h5>Reading comics</h5>
                </div>

            <div class="col-lg-4 column">
                <img src="static/images/theater.png" class="icon">
                <h5>Watching dramas</h5>
                </div>

            <div class="col-lg-4 column">
                <img src="static/images/music-note.png" class="icon">
                <h5>Listening musics</h5>
            </div>
    </div>
</section>










{% include "footer.html" %}